<footer class="page-footer py-3 border-top" style="padding: 0px 0px 16px;padding-right: 0px;padding-top: 0px;">
    <div class="container my-4" style="margin-top: 0px;">
        <div class="social-icons">
            <a class="me-3" href="https://www.facebook.com/kiss.tomi.98"><i class="icon ion-social-facebook"></i></a>
            <a class="me-3" href="https://www.instagram.com/ktomy7/"><i class="icon ion-social-instagram-outline"></i></a>
            <a class="me-3" href="https://www.linkedin.com/in/kisstomy/"><i class="icon ion-social-linkedin"></i></a>
            <a class="me-3" href="https://github.com/KTomy7"><i class="icon ion-social-github"></i></a>
        </div>
    </div>
</footer>